<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>All Ice Cream</h1>

{{#each foods }}
  <p>{{name}}</p>
  <p>{{price}}</p>
  <p>{{awesomeness}}</p>
  <hr>
{{/each}}
